/* Reset CSS */
*   {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. làm từ ngoài vào trong
2. từ trên xuống dưới
3. tổng quan đến chi tiết
 */

/* 
1. vị Trí
2. kích thước
3. màu sắc
4. kiểu dáng

 */

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nva, .subnav {
    list-style-type: none;
}

#nva > li {
    display: inline-block;
}

#nva li {
    
    position: relative;
}

#nva > li:hover > a {
    color: #000;
    background-color: #ccc;
    
}

#nva .subnav {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#nva .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nva .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nva > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nva li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#slider {

}

#content {

}

#footer {

}

